.cartDesign{
  background: black;
  font-weight: bold;
  color: orange;
  height: 640px;
  position: relative;
  .charName{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: inherit;
    color: white;
    background: crimson;
    .name{
      font-size: 1.2rem;
      font-weight: bold;
    }
    .status{
      .dead{
        color: red;
      }
      .alive{
        color: green;
      }
      .unknown{
        color: yellow;
      }
    }
  }
  .imgContainer{
    width: inherit;
    height: auto;
    padding-top: 4rem;
    img{
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: darkred;
    font-weight: bold;
  }
}

@media screen and (max-width: 800px) {
  .cartDesign{
    height: 540px;
  }
  .cartDesign .charName .name{
    font-size: 1rem;
  }
  .cartDesign .charName strong{
    font-size: 0.8rem;
  }

  .description{
	font-size: 0.9rem;
  }

  .cartDesignGrid {
    padding: 0;
    margin: 0;
  }
  .cartDesign .imgContainer{
    padding-top: 5rem;
  }
}

@media screen and (min-width: 800px) {
  .cartDesignGrid {
    margin: 0;
    padding: 0.3em;
  }
}


body {
  background-color: #ECEFF1;
  color: #37474F;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
h1,
h2,
h3 {
  font-weight: 200;
}
